
@{
    ViewData["Title"] = "Nhập kho";
    List<Product> products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Product>>(TempData["products"] as string);
}

<form class="stock-form form-group bg-info" method="post" enctype="multipart/form-data" asp-controller="Stock" asp-action="InsertStock">
    <h4 style="color:red;">NHẬP SẢN LƯỢNG KHO</h4>
    <div class="form-control">
        Ngày sản xuất
        <input type="date" name="date" value="" />
    </div>
    <div class="form-control">
        Mã sản phẩm
        <select id="productCode" name="productCode">
            <option value="" selected>Chọn sản phẩm</option>
            @foreach (Product pd in products)
            {
                <option value="@pd.Code">@pd.Code</option>
            }
        </select>
    </div>
    <div class="form-control">
        Tên sản phẩm
        <input type="text" name="productName" value="" disabled />
    </div>
    <div class="form-control">
        Ca sản xuất
        <select name="shift">
            <option value="" selected>Chọn ca</option>
            <option value="shift1">Ca1</option>
            <option value="shift2">Ca2</option>
            <option value="shift3">Ca3</option>
        </select>
    </div>
    <div class="form-control">
        Dây chuyền
        <select name="line">
            <option value="" selected>Chọn dây chuyền</option>
            <option value="line1">Dây chuyền 1</option>
            <option value="line1">Dây chuyền 2</option>
            <option value="line1">Dây chuyền 3</option>
            <option value="line1">Dây chuyền 4</option>
            <option value="line1">Dây chuyền 5</option>
            <option value="line1">Dây chuyền 6</option>
            <option value="line1">Dây chuyền 7</option>
            <option value="line1">Dây chuyền 8</option>
        </select>
    </div>
    <div class="form-control">
        Sản lượng thực
        <input type="number" name="quantity" value="" style="width:150px;"/>
    </div>
    <div style="display:flex">
        <button class="btn btn-primary" type="submit" style="font-size:20px"> Xác nhận</button>
        <button class="btn btn-danger" style="font-size:20px"> Hủy</button>
    </div>
</form>



