
@model Masan_Dcs_Scada.Models.Account
@{
    ViewData["Title"] = "ChangePassword";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-info">
        <strong>Thông báo:  </strong> @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<h2 class="text-center" style="color:blue">Thay đổi mật khẩu</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="UpdatePassword">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label>Tên người dùng</label>
        <input class="form-control" placeholder="Nhập tên người dùng" name="username" />
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Password">Nhập mật khẩu cũ</label>
        <input class="form-control" name="oldPassword" placeholder="Nhập mật khẩu cũ" />
    </div>
    <br />

    <div class="form-group">
        <label>Nhập mật khẩu mới</label>
        <input class="form-control" name="newPassword" placeholder="Nhập mật khẩu mới" />
    </div>
    <br />

    <div class="form-group">
        <label>Nhập lại mật khẩu mới</label>
        <input class="form-control" name="_newPassword" placeholder="Nhập lại mật khẩu mới" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Thay đổi </button>
        <a class="btn btn-secondary" style="margin-left:30px" asp-controller="Account" asp-action="Login">
            Quay lại
        </a>
    </div>
</form>
