@model IEnumerable<Masan_Dcs_Scada.Models.HeadShift>
@{
    int i = 0;
}

<table>
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            i++;
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => b.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => b.FullName)
            </td>
        </tr>
        }
    </tbody>
</table>