
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <form class="col-3" style="border: 1px solid;">
            <div style="display:flex; justify-content:space-between;">
                <h4 style="font-size:17px;">Máy 1.1</h4>
                <span></span>
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Tốc độ máy</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Hiệu suất</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Sản lượng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói bị cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% Gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
        </form>
        <form class="col-3" style="border: 1px solid;">
            <div style="display:flex; justify-content:space-between;">
                <h4 style="font-size:17px;">Máy 1.2</h4>
                <span></span>
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Tốc độ máy</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Hiệu suất</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Sản lượng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói bị cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% Gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
        </form>
        <form class="col-3" style="border: 1px solid;">
            <div style="display:flex; justify-content:space-between;">
                <h4 style="font-size:17px;">Máy 1.3</h4>
                <span></span>
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Tốc độ máy</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Hiệu suất</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Sản lượng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói bị cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% Gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
        </form>
        <form class="col-3" style="border: 1px solid;">
            <div style="display:flex; justify-content:space-between;">
                <h4 style="font-size:17px;">Máy 1.4</h4>
                <span></span>
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Tốc độ máy</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Hiệu suất</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Sản lượng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói bị cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% cấn gia vị</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">Số gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
            <div class="form-control" style="display:flex; justify-content:space-between;">
                <p style="font-size:13px;">% Gói rỗng</p>
                <input type="text" style="width:100px;" />
            </div>
        </form>
    </div>
</div>
